<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head(title)" th:remove="tag">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title th:text="${title}"></title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />

		<link rel="stylesheet" th:href="@{/_admin/resources/bundle.css}" href="/resources/admin/bundle.css" />
		<link rel="stylesheet" th:href="@{/_admin/resources/css/wallride.custom.css}" href="/resources/admin/css/wallride.custom.css" />

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
		<script th:src="@{/_admin/resources/bundle.js}" src="/resources/admin/bundle.js"></script>

		<!-- <script>
			$.FroalaEditor.DEFAULTS.key = 'UA9D8D7E6dC3E3A2C10B6B5D5E4F3B1C-7KC1KXDF1INBh1KPe2TK==';
		</script> -->
	</head>
	<body>
		<header th:fragment="header" id="header" class="flex-column navbar-expand-md navbar-dark bg-dark flex-md-nowrap sticky-top">
			<nav id="wr-global-nav" class="navbar my-0 py-0">
				<!-- <p class="navbar-brand"><img th:src="@{/_admin/resources/img/wr-logo.png}"/></p> -->
				<div class="navbar-header">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#wr-blog-nav">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-fill justify-content-between">
					<ul class="navbar-nav">
						<li id="wr-blog-title" class="nav-item">
							<a th:href="@{${WEBSITE_LINK}}" th:text="${WEBSITE_TITLE}" target="_blank" class="nav-link">WallRide</a>
						</li>
						<li class="nav-item">
							<a th:href="@{${WEBSITE_LINK}}" href="#" target="_blank" style="font-size:15px;" class="nav-link"><span data-feather="corner-up-left"></span> <span th:text="${WEBSITE_LINK}">http://www.wallride.org</span></a>
						</li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item dropdown wr-account">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
								<img th:src="@{${USER.getGravatarUrl(30)}}" src="/img/tb-logo.png" class="rounded-circle"/>
								&nbsp;&nbsp;<span th:text="${USER.name}"></span>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li class="dropdown-item"><a th:href="@{__${ADMIN_PATH}__/users/describe(id=${USER.id})}"><span data-feather="user"></span> <span th:text="#{Profile}">プロフィール</span></a></li>
								<li class="dropdown-item"><a th:href="@{/_admin/logout}"><span data-feather="log-out"></span> <span th:text="#{LogOut}">ログアウト</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<nav id="wr-blog-nav" class="col-md-2 d-md-block bg-light px-0 collapse float-left">
				<ul class="navbar-nav flex-column">
					<li class="nav-item">
						<a th:href="@{__${ADMIN_PATH}__/}" href="/" class="nav-link" th:classappend="${#strings.equals(#request.requestURI, '__${ADMIN_PATH}__/')} ? active">
							<span data-feather="home"></span> <span th:text="#{Dashboard}">Dashboard</span>
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{__${ADMIN_PATH}__/articles/index}" href="article/index.html" class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/articles')} ? active">
							<span data-feather="file"></span> <span th:text="#{Articles}">Articles</span>
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{__${ADMIN_PATH}__/pages/index}" href="page/index.html" class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/pages')} ? active">
							<span data-feather="book"></span> <span th:text="#{Pages}">Pages</span>
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{__${ADMIN_PATH}__/categories/index}" href="category/index.html" class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/categories')} ? active">
							<span data-feather="folder"></span> <span th:text="#{Categories}">Categories</span>
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{__${ADMIN_PATH}__/tags/index}" href="tag/index.html" class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/tags')} ? active">
							<span data-feather="tag"></span> <span th:text="#{Tags}">Tags</span>
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{__${ADMIN_PATH}__/customfields/index}" href="customfield/index.html" class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/customfields')} ? active">
							<span data-feather="tool"></span> <span th:text="#{CustomField}">Custom field</span>
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{__${ADMIN_PATH}__/comments/index}" class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/comments')} ? active">
							<span data-feather="message-circle"></span> <span th:text="#{Comments}">Comments</span>
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{__${ADMIN_PATH}__/users/index}" class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/users')} ? active">
							<span data-feather="users"></span> <span th:text="#{Users}">Users</span>
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{__${ADMIN_PATH}__/analytics}" class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/analytics')} ? active">
							<span data-feather="bar-chart"></span> <span th:text="#{GoogleAnalytics}">Google Analytics</span>
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{__${ADMIN_PATH}__/system}" class="nav-link" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/system')} ? active">
							<span data-feather="settings"></span> <span th:text="#{System}">System</span>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav flex-column">
					<li class="nav-item dropdown">
						<a href="#" role="button" class="add-menu nav-link dropdown-toggle" data-toggle="dropdown"><span data-feather="plus"></span> <span th:text="#{AddNew}">Add New</span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="add-menu">
							<li role="presentation" class="dropdown-item"><a role="menuitem" tabindex="-1" th:href="@{__${ADMIN_PATH}__/articles/create}"><span data-feather="edit"></span> <span th:text="#{AddNewArticle}">New Article</span></a></li>
							<li role="presentation" class="dropdown-item"><a role="menuitem" tabindex="-1" th:href="@{__${ADMIN_PATH}__/pages/create}"><span data-feather="edit"></span> <span th:text="#{AddNewPage}">New Page</span></a></li>
							<li class="dropdown-item"><a th:href="@{__${ADMIN_PATH}__/users/invitations/index}"><span data-feather="send"></span> <span th:text="#{InviteNew}">Invite New</span></a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><span data-feather="globe"></span> <span th:text="${#messages.msg('Language.' + #locale.toString())}"></span></b></a>
						<ul class="dropdown-menu">
							<li class="disabled dropdown-item"><a href="#"><span th:text="#{Languages}">Languages</span></a></li>
							<li th:each="key : ${LANGUAGE_LINKS.keySet()} " class="dropdown-item"><a th:href="${LANGUAGE_LINKS.get(key)}"><span th:text="${#messages.msg('Language.' + key)}">English</span> </a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><span data-feather="book-open"></span> <span th:text="#{Library}">Library</span></b></a>
						<ul class="dropdown-menu">
							<li role="presentation" class="dropdown-item"><a th:href="@{__${ADMIN_PATH}__/publisher/search}" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/publisher')} ? active" role="menuitem" tabindex="-1"><span data-feather="archive"></span> <span th:text="#{Publisher}">Publisher</span></a></li>
							<li role="presentation" class="dropdown-item"><a th:href="@{__${ADMIN_PATH}__/author/search}" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/author')} ? active" role="menuitem" tabindex="-1"><span data-feather="user"></span> <span th:text="#{Author}">Author</span></a></li>
							<li role="presentation" class="dropdown-item"><a th:href="@{__${ADMIN_PATH}__/book/search}" th:classappend="${#strings.startsWith(#request.requestURI, '__${ADMIN_PATH}__/book')} ? active" role="menuitem" tabindex="-1"><span data-feather="book"></span> <span th:text="#{Book}">Book</span></a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</header>
		<div>
			<div class="page-header clearfix">
				<h1>Dashboard</h1>
			</div>
			<div class="row wr-dashboard">
				<div class="col-md-2">
					<h2>Content</h2>
					<table class="table">
						<tr>
							<th th:text="${articleCount}">11</th>
							<td>Posts</td>
						</tr>
						<tr>
							<th th:text="${pageCount}">11</th>
							<td>Pages</td>
						</tr>
						<tr>
							<th th:text="${categoryCount}">11</th>
							<td>Categories</td>
						</tr>
					</table>
				</div>
				<div class="col-md-5">
					<h2>New Posts</h2>
					<dl th:each="article : ${recentPublishedArticles}" class="list-inline">
						<dt class="list-inline-item"><a th:href="@{__${ADMIN_PATH}__/articles/describe(id=${article.id})}" th:text="${article.title}">Title</a></dt>
						<dd th:text="${#temporals.format(article.date, 'yyyy/MM/dd HH:mm')}" class="list-inline-item">yyyy/MM/dd</dd>
					</dl>
				</div>
				<div class="col-md-5">
					<h2>Drafts</h2>
					<dl th:each="article : ${recentDraftArticles}" class="list-inline">
						<dt class="list-inline-item" ><a th:href="@{__${ADMIN_PATH}__/articles/describe(id=${article.id})}" th:text="${article.title}?:'(No Titled)'">Title</a></dt>
						<dd th:text="${#temporals.format(article.updatedAt, 'yyyy/MM/dd HH:mm') + ' Last Modified'}" class="list-inline-item">yyyy/MM/dd HH:mm Last Modified</dd>
					</dl>
				</div>
			</div>
		</div>
		<footer>
		</footer>
	</body>
</html>