<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" th:replace="layout::head('WallRide')"/>
	<title>Book | WallRide</title>
	<script src="/resources/admin/bundle.js" th:remove="all"></script>
</head>
<body>
<header th:replace="layout::header"></header>
<div>
	<div id="wr-page-header" class="container-fluid">
		<div class="page-header d-flex justify-content-between border-bottom py-0 ml-n3">
			<h1>
				<span th:text="${#sets.contains(buttons, 'SAVE')} ? #{Add} : (${#sets.contains(buttons, 'UPDATE')} ? #{Edit} : ' ')"></span>
				<span th:text="#{Book}">Book</span>
			</h1>
			<div>
				<div class="btn-group mr-2">
					<a th:attr="data-action=@{__${ADMIN_PATH}__/book/report}" class="btn btn-primary"
							th:if="!${#lists.isEmpty(books.getContent())}">
						<span data-feather="download"></span> <span th:text="#{Report}">Report</span>
					</a>
				</div>
				<div id="action-buttons" class="btn-group align-items-center">
					<a type="button" id="add-action" class="btn btn-primary"
							value="add" th:if="${#sets.contains(buttons, 'ADD')}"
							th:attr="data-action=@{__${ADMIN_PATH}__/book/create}">
						<span data-feather="plus"></span> <span th:text="#{Add}">Add</span>
					</a>
					<a type="button" id="edit-action" class="btn btn-primary"
							value="edit" th:if="${#sets.contains(buttons, 'EDIT') and (not #lists.isEmpty(books.getContent()))}"
							th:attr="data-action=@{__${ADMIN_PATH}__/book/edit}">
						<span data-feather="edit"></span> <span th:text="#{Edit}">Edit</span>
					</a>
					<a type="button" id="save-action" class="btn btn-primary"
							value="save" th:if="${#sets.contains(buttons, 'SAVE')}"
							th:attr="data-action=@{__${ADMIN_PATH}__/book/save}">
						<span data-feather="save"></span> <span th:text="#{Save}">Save</span>
					</a>
					<a type="button" id="update-action" class="btn btn-primary"
							value="update" th:if="${#sets.contains(buttons, 'UPDATE')}"
							th:attr="data-action=@{__${ADMIN_PATH}__/book/update}">
						<span data-feather="save"></span> <span th:text="#{Update}">Update</span>
					</a>
					<a type="button" id="delete-action" class="btn btn-primary"
							value="delete" th:if="${#sets.contains(buttons, 'DELETE')}"
							data-toggle="modal" data-target="#delete-modal">
						<span data-feather="x"></span> <span th:text="#{Delete}">Delete</span>
					</a>
					<a type="button" id="cancel-action" class="btn btn-primary"
							value="cancel" th:if="${#sets.contains(buttons, 'CANCEL')}"
							th:attr="data-action=@{__${ADMIN_PATH}__/book/show}">
						<span data-feather="corner-up-left"></span> <span th:text="#{Cancel}"></span>
					</a>
				</div>
				<a type="button" id="show-action" class="btn btn-primary d-none"
						value="show"
						th:attr="data-action=@{__${ADMIN_PATH}__/book/show}">
					<span data-feather="archive"></span> <span th:text="#{Show}">Show</span>
				</a>
			</div>
		</div>
	</div>
	<div id="wr-page-content">
		<div class="container-fluid">
			<div id="message-saved" class="alert alert-success ml-n3" th:if="${savedBook ne null}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<span th:text="#{SavedBook}">Book Saved.</span>
			</div>
			<div id="message-deleted" class="alert alert-success ml-n3" th:if="${deletedBook ne null}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<span th:text="#{DeletedBook}">Book Deleted.</span>
			</div>
			<div id="message-no-selection" class="alert alert-danger ml-n3" th:if="${noBookSelected ne null}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<span th:text="#{NoBook}">No Book Selected.</span>
			</div>
			<div id="message-no-items" class="alert alert-info ml-n3" th:if="${#lists.isEmpty(books.getContent())}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<span th:text="#{NoItems}">No Items.</span>
			</div>
			<section id="book-content">
				<form id="book-form" method="post" th:object="${form}"
						th:action="@{__${ADMIN_PATH}__/book/show}" class="row">
					<div class="list-group col-8">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('all')}">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<span th:text="#{Error}">Error</span>
						</div>
						<input type="hidden" name="id" th:value="*{id}"  />
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" for="code" th:text="#{Code}">Code</span>
							</div>
							<input type="text" th:field="*{code}" class="form-control" th:readonly="${#sets.contains(buttons, 'SHOW')}"
								th:classappend="${#fields.hasErrors('code')} ? 'is-invalid'" th:attr="placeholder=#{Code} + ' (' + #{MandatoryField} + ')'" />
							<span class="invalid-feedback" th:each="err : ${#fields.errors('code')}" th:text="${err}"></span>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" for="title" th:text="#{Title}">Book Title</label>
							</div>
							<input type="text" th:field="*{title}" class="form-control" th:readonly="${#sets.contains(buttons, 'SHOW')}"
								th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" th:attr="placeholder=#{Title} + ' (' + #{MandatoryField} + ')'" />
							<span class="invalid-feedback" th:each="err : ${#fields.errors('title')}" th:text="${err}"></span>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" for="authorIds" th:text="#{Author}">Author</label>
							</div>
							<input type="text" id="author" class="form-control" th:readonly="true" th:attr="placeholder=#{Author}"
									th:classappend="${#fields.hasErrors('authorIds')}? is-invalid" />
							<ul class="sortable">
								<th:block th:if="*{authorIds ne null}">
									<li class="option col-sm-7 d-flex justify-content-between" th:each="authorId : *{authorIds}">
										<div>
											<span class="grippy"></span>
											<div class="field-option" th:attr="data-name=${authorId}" th:text="${authorId}"></div>
										</div>
										<button class="btn btn-link remove" data-dismiss="author"><span class="fa fa-remove"></span></button>
									</li>
								</th:block>
								<script id="author-tmpl" type="text/x-jsrender">
								<li class="option col-sm-7 d-flex justify-content-between">
									<div>
										<span class="grippy"></span>
										<div class="field-option"></div>
									</div>
									<button class="btn btn-link remove" data-dismiss="author"><span class="fa fa-remove"></span></button>
								</li>
								</script>
							</ul>
							<!-- <div th:each="authorId : *{authorIds}">
								<input type="hidden" name="authorId" class="authorId" th:value="authorId" />
							</div> -->
							<div class="input-group-append">
								<button type="button" class="btn btn-link" data-toggle="modal" data-target="#author-modal"
										th:disabled="${#sets.contains(buttons, 'SHOW')}">
									<span data-feather="user"></span> <span th:text="#{Reference}">Reference</span>
								</button>
								<span id="add-author-btn">
									<a href="#" class="btn btn-link" data-append="author">
										<span data-feather="plus"></span> <span th:text="#{Add}">Add</span>
									</a>
								</span>
							</div>
							<span class="invalid-feedback" th:each="err : ${#fields.errors('authorIds')}" th:text="${err}"></span>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" for="publisherId" th:text="#{Publisher}">Publisher</label>
							</div>
							<input type="text" id="publisher" class="form-control" th:readonly="true" th:attr="placeholder=#{Publisher}"
									th:classappend="${#fields.hasErrors('publisherId')}? is-invalid" />
							<input type="hidden" th:field="*{publisherId}" th:value="*{publisherId}" />
							<div class="input-group-append">
								<button type="button" class="btn btn-link" data-toggle="modal" data-target="#publisher-modal"
										th:disabled="${#sets.contains(buttons, 'SHOW')}">
									<span data-feather="archive"></span> <span th:text="#{Reference}">Reference</span>
								</button>
							</div>
							<span class="invalid-feedback" th:each="err : ${#fields.errors('publisherId')}" th:text="${err}"></span>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" for="description" th:text="#{Description}">Book Description</label>
							</div>
							<textarea type="text" th:field="*{description}" class="form-control" style="min-height: 150px" th:readonly="${#sets.contains(buttons, 'SHOW')}"
								th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'" th:attr="placeholder=#{Description}">
							</textarea>
							<span class="invalid-feedback" th:each="err : ${#fields.errors('description')}" th:text="${err}"></span>
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" for="isbn" th:text="#{Isbn}">Book ISBN</label>
							</div>
							<input type="text" th:field="*{isbn}" class="form-control" th:readonly="${#sets.contains(buttons, 'SHOW')}"
								th:classappend="${#fields.hasErrors('isbn')} ? 'is-invalid'" th:attr="placeholder=#{Isbn}" />
							<span class="invalid-feedback" th:each="err : ${#fields.errors('isbn')}" th:text="${err}"></span>
						</div>
						<!-- <div class="btn-group">
							<button name="submit" class="btn btn-primary ok" th:text="#{Save}" th:readonly="${#sets.contains(buttons, 'SHOW')}">Save</button>
						</div> -->
					</div>

					<div id="book-items" class="list-group col-4">
						<div id="search-form" class="input-group mb-2">
							<input id="search-input" type="text" name="keyword" th:value="*{keyword}" class="form-control"
									th:attr="placeholder=#{Keywords} + ' (' + #{Code} + ', ' + #{Title} + ', ' + #{AuthorName} + ', ' + #{Or} + ' ' + #{Description} + ')'"/>
							<div class="input-group-append">
								<button id="search-button" class="btn btn-success" formmethod="post"
										th:formaction="@{__${ADMIN_PATH}__/book/search}">
									<span data-feather="search"></span>
								</button>
							</div>
						</div>
						<a class="list-group-item list-group-item-action d-flex overflow-hidden" th:id="${book.id}"
								th:each="book : ${books}" th:classappend="${selectedBook != null and book.id == selectedBook.id} ? 'active'"
								th:href="@{__${ADMIN_PATH}__/book/show(id=${book.id},page=${pagination.currentPageNumber})}">
							<span th:text="${book.print()}">Book</span>
						</a>
						<div class="pagination-group d-flex justify-content-between mt-2">
							<div class="pagination-summary">
								<span th:text="${pagination.numberOfFirstElement}"></span> - <span th:text="${pagination.numberOfLastElement}"></span> / <span th:text="${pagination.totalElements}"></span>
							</div>
							<ul class="pagination pagination-sm">
								<li th:classappend="${pagination.hasPreviousPage() ? '' : 'disabled'}" class="page-item">
									<!-- <a th:href="@{${pagination.url}(page=${pagination.previousPageNumber})}" th:text="#{Prev}" class="page-link">Prev</a> -->
									<button class="page-link" formmethod="post" th:formaction="@{${pagination.url}(page=${pagination.previousPageNumber})}">
										<span data-feather="chevron-left"></span>
									</button>
								</li>
								<li th:each="p : ${pagination.getPageables(pageable)}" th:classappend="${p.pageNumber eq pagination.currentPageNumber ? 'active' : ''}" class="page-item">
									<!-- <a th:href="@{${pagination.url}(page=${p.pageNumber})}" th:text="${p.pageNumber + 1}" class="page-link">
									</a> -->
									<button class="page-link" formmethod="post" th:formaction="@{${pagination.url}(page=${p.pageNumber})}">
										<span th:text="${p.pageNumber + 1}">Prev</span>
									</button>
								</li>
								<li th:classappend="${pagination.hasNextPage() ? '' : 'disabled'}" class="page-item">
									<!-- <a th:href="@{${pagination.url}(page=${pagination.nextPageNumber})}" th:text="#{Next}" class="page-link">Next</a> -->
									<button class="page-link" formmethod="post" th:formaction="@{${pagination.url}(page=${pagination.nextPageNumber})}">
										<span data-feather="chevron-right"></span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</form>

				<!-- #delete-modal -->
				<div id="delete-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
					<div id="delete-dialog" class="modal-dialog">
						<div th:fragment="delete-form" class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" th:text="#{DeleteBook}">Delete Book</h4>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
							<div class="modal-body">
								<p th:text="#{MakeSureDelete}">Are you sure you want to delete?</p>
								<div class="checkbox">
									<label><input type="checkbox" name="confirmed" value="true"/> <span th:text="#{Confirm}">Confirm</span></label>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-default" data-dismiss="modal" th:text="#{Cancel}">Cancel</button>
								<button class="btn btn-primary" id="delete-book" th:attr="data-action=@{__${ADMIN_PATH}__/book/delete}"
										disabled="true" th:text="#{Delete}">Delete</button>
							</div>
						</div>
					</div>
				</div>
				<!--/#delete-modal -->

				<div id="publisher-modal" th:replace="publisher/index :: publisher-modal"></div>
				<div id="author-modal" th:replace="author/index :: author-modal"></div>

				<script th:inline="javascript">
					// <![CDATA[
					$(function () {
						$('#wr-page-content').on('click', '.list-group-item', function(e) {
							e.preventDefault();
							let $self = $(this);

							// Remove the active class from the other active item, then set this item to active.
							let activeItem = $('.list-group').find('a.active')[0];
							$(activeItem).removeClass('active');
							$self.addClass('active');

							let $form = $self.closest('form');
							$form.attr('action', $self.attr('href'));
							$form.submit();
						}).on('click', '#delete-book', function(e) {
							e.preventDefault();
							let $self = $(this);
							let $form = $('#book-form');
							let action = $self.data('action');

							action += /*[[@{?page=__${pagination.currentPageNumber}__}]]*/ '';
							$form.attr('action', action);
							$form.submit();
						}).on('keypress', '#book-form', function(e) {
							// Press enter.
							if (e.which === 13) {
								// Submit the form action for left-most action button (add, save, or update).
							}
						}).on('click', '#add-author-btn', function(e) {
							logger.info('enter');
							let $authorInput = $('#author');

							$('.sortable').on('click', '[data-append="author"]', function() {
								var tmpl = $.templates("#author-tmpl");
								var content = tmpl.render();
								// $('.field-option', $content).attr('data-name', customInputOption).text(customInputOption);
								$('.sortable').append(content);
								//$customInput.val('').focus().closest('.form-group').removeClass('has-error');
								$authorInput.val('').focus().removeClass('is-invalid');
							});
							return false;
						});
						$('#delete-modal').on('change', ':input[name="confirmed"]', function () {
							var confirmed = $(this);
							$('#delete-modal .btn-primary').prop('disabled', !confirmed.is(':checked'));
						});
						$('#wr-page-header').on('click', '[data-action]', function(e) {
							e.preventDefault();
							let $self = $(this);
							let $form = $('#book-form');
							let action = $self.data('action');

							action += /*[[@{?page=__${pagination.currentPageNumber}__}]]*/ '';
							if ($self.is('#cancel-action')) {
								let $input = $form.find('input[name="id"]');

								// If there are no items, go to the search form.
								let books = /*[[${books.getContent()}]]*/ [];

								if (books != null && books.length === 0) {
									// The cancel button's data-action attribute has the value .../show.
									
									action = action.replace('show', 'search');
								} else if ($input.attr('value') === '') {
									// When we are in the add item mode and click the cancel button,
									// show the page's first item.

									let first_id = $('#book-items > a:first-of-type').attr('id');
									$input.attr('value', first_id);

									// Set the id in case we want to reload the page
									// (eg, going back in history).
									action += '&id=' + first_id;
								}
							} else if ($self.is('#add-action')) {
								$form.find(':input').val('');
							}

							$form.attr('action', action);
							$form.submit();
						});
					});
					$(window).on('load', function(e) {
						let authorId = $('#authorId').val();
						if (authorId != null && authorId.length != 0) {
							$.ajax({
								url: /*[[@{__${ADMIN_PATH}__/author/get}]]*/ '#',
								type: 'post',
								data: { 'id': authorId },
								success: function(author) {
									// Set the publisher field
									$('#author').val(author.code + ' - ' + author.name);
									$('#authorId').val(authorId);
								},
								error: function(jqXHR) {
									$.each(jqXHR.responseJSON.fieldErrors, function(field, message) {
										var field = $(':input[name="' + field + '"]', form);
										$(field).addClass('is-invalid').after($('<span class="invalid-feedback" />').text(message));
									});
									$(self).button('reset');
								}
							});
						}

						let publisherId = $('#publisherId').val();
						if (publisherId != null && publisherId.length != 0) {
							$.ajax({
								url: /*[[@{__${ADMIN_PATH}__/publisher/get}]]*/ '#',
								type: 'post',
								data: { 'id': publisherId },
								success: function(publisher) {
									// Set the publisher field
									$('#publisher').val(publisher.code + ' - ' + publisher.name);
									$('#publisherId').val(publisherId);
								},
								error: function(jqXHR) {
									$.each(jqXHR.responseJSON.fieldErrors, function(field, message) {
										var field = $(':input[name="' + field + '"]', form);
										$(field).addClass('is-invalid').after($('<span class="invalid-feedback" />').text(message));
									});
									$(self).button('reset');
								}
							});
						}
					});
					// ]]>
				</script>
			</section>
		</div>
	</div>
</div>
<footer>
</footer>
</body>
</html>
